<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
</head>
<body ng-app="app">
  <div class="container" ng-controller="ToDoListController">
    <h1>Yet another app</h1>
    <div>
      <label>Add item: <input type="text" class="form-control" ng-model="newItemName"/></label>
      <button class="btn btn-primary" ng-click="addItem(newItemName);">Add Item</button>
    </div>
    <hr />
    <div>
      <h3>Items:</h3>
      <ul>
        <li ng-repeat="item in items">{{item}}</li>
      </ul>
      <b ng-show="loading == true">Loading shit...</b>
      <b ng-show="items.length == 0 && loading == false">You have no items here, bitch.</b>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>